<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ranad/IdeaProjects/WinAppDriver_poc">
        <classes/>
    </test>
</suite>-->
<suite name="All Test Suite">
    <test thread-count="5" name="Test">
        <classes>
            <class name="CalculatorTest_demo"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->